
.nav-container {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    width: 90vw;
    height: 100vh;
    z-index: 90;
    transform: translateX(100%);
    transition: all 250ms ease-in-out;

    backdrop-filter: blur(1.5rem) brightness(50%);
}
.slide-in {
    transform: translateX(0%);
}
.nav-links {
    position: relative;
    width: 80%;
    margin: 3rem 0;
}
.nav-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.nav-image {
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50vw;
    background-image: url(../../designLanguage/assets/headshot.JPG);
    background-size: cover;
}
.nav-header-details {
    color: #fff;
}
.nav-profile-name {
    font-weight: bold;
    font-size: 2.2rem;
}
.separation {
    position: absolute;
    width: 100%;
    height: .1rem;
    margin: 1rem 0 2rem;
    background-color: #fff;
}

.main-items {
    position: absolute;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.nav-link {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;

    position: relative;
}
.nav-link::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    height: .15rem;
    width: 0%;
    transition: all 250ms ease-in-out;
}
.nav-link:hover::after {
    width: 100%;
}
.nav-footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    bottom: 4rem;
}
.logout {
    color: #FF5353;
}
.logout::after {
    background-color: #FF5353;
}
